{% extends 'base.html' %}

{% block content %}
  <section>
    <div>
      <h3>{{shul.name}}</h3>
    </div>
    <div id='parshiot'>
      <h3>Parshiot:</h3>
{% for week in weeks %}
  {% if week.date.strftime('%Y-%m-%d') >= today_date.strftime('%Y-%m-%d') %}
      <span class=col-2>{{week.date.strftime('%Y-%m-%d')}}</span>
      <span class=col-2>{{week.parasha}}</span>
      <a class="=col-1" data-toggle="modal" href="#signup-modal{{week.id}}">Sign up</a>
      <br>
    </div>
  </section>
  <section>
    <div class="modal" id="signup-modal{{week.id}}" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-title">{{week.parasha}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action=# method='post'>
              <div class='form-group'>
                <!--Hidden input is here to allow flask to extract name of parasha from form data; since the signup is a modal and not its own html page, can't pass week variable to url-->
                <input id="hidden-parasha" type="hidden" value="{{week.id}}" name="parasha"/>
                <label for="full">Full: {{week.full}}</label>
                <input id="full" type="checkbox" name="full"/>
                <label for="rishon">Rishon: {{week.rishon}}</label>
                <input id="rishon" type="checkbox" name="rishon"/>
                <label for="sheini">Sheini: {{week.sheini}}</label>
                <input id="sheini" type="checkbox" name="sheini"/>
                <label for="shelishi">Shelishi: {{week.shelishi}}</label>
                <input id="shelishi" type="checkbox" name="shelishi"/>
                <label for="revii">Revii: {{week.revii}}</label>
                <input id="revii" type="checkbox" name="revii"/>
                <label for="chamishi">Chamishi: {{week.chamishi}}</label>
                <input id="chamishi" type="checkbox" name="chamishi"/>
                <label for="shishi">Shishi: {{week.shishi}}</label>
                <input id="shishi" type="checkbox" name="shishi"/>
                <label for="shevii">Shevii: {{week.shevii}}</label>
                <input id="shevii" type="checkbox" name="shevii"/>
                <label for="maftir">Maftir: {{week.maftir}}</label>
                <input id="maftir" type="checkbox" name="maftir"/>
                <label for="haftarah">Haftarah: {{week.haftarah}}</label>
                <input id="haftarah" type="checkbox" name="haftarah"/>
              </div>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
{% endfor %}
{% endblock %}
