{% extends 'base.html' %}

{% block content %}
  <section>
    <div>
      <h3>{{shul.name}}</h3>
    </div>
    <div id='parshiot'>
      <h3>Parshiot:</h3>
{% for week in weeks %}
  {% if week.date.strftime('%Y-%m-%d') >= today_date.strftime('%Y-%m-%d') %}
      <span class=col-2>{{week.date.strftime('%Y-%m-%d')}}</span>
      <span class=col-2>{{week.parasha}}</span>
      <a class="=col-1" data-toggle="modal" href="#signup-modal">Sign up</a>
      <br>
    </div>
  </section>
  <section>
    <div class="modal" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-title">{{week.parasha}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
{% endfor %}
{% endblock %}
